{% extends 'main/base_user.html' %}

{% block content %}
<h1>Lista de Estados de Mesas</h1>
<a class="btn btn-primary" href="{% url 'mesas:mesas_estado_create' %}">Agregar Estado de Mesas</a>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        {% for mesa_estado in mesas_estados %}
        <tr>
            <td>
                <a class="btn btn-primary" href="{% url 'mesas:mesas_estado_edit' mesa_estado.pk %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'mesas:mesas_estado_delete' mesa_estado.pk %}">Eliminar</a>
            </td>
            <td>{{mesa_estado.nombre}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}