{% extends 'main/base_user.html' %}

{% block content %}
<h1>Pagos</h1>

<a class="btn btn-primary" href="{% url 'mesas:metodos_pago_list' %}">Métodos de pago</a>

<table class="table">
    <thead>
        <tr>
            <th>Orden</th>
            <th>Método de Pago</th>
            <th>Monto</th>
            <th>Fecha y hora</th>
        </tr>
    </thead>
    <tbody>
        {% for pago in pagos %}
        <tr>
            <td>{{ pago.orden.id }}</td>
            <td>{{ pago.metodo_pago.nombre }}</td>
            <td>{{ pago.monto }}</td>
            <td>{{ pago.fecha_hora }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}